


.one{
  float: left;
  width: 31%;
  padding-bottom: 31%;
  border-radius: 20%;
  margin-right: 2%;
  margin-top: 2%;
  background-color: gold;
}
input{
  display: block;
  float: left;
  width: 98%;
  padding: 14px 0;
  margin: 10px 1%;
  border-radius: 5px;
  outline: none;
  background-color: white;
  border: 1px solid gold;
  font-size: 15px;
  color: gold;

}
