*{
    margin: 0;
    padding: 0;
  }
  body{
    width: 100%;
  }
  /*头部*/
  header{
    width: 100%;
    height: 50px;
    background-color:rgb(41,189,224);
  
  }
  header .top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index:2;
    width: 100%;
    height: 50px;
    background-color:rgb(41,189,224);
    border-bottom: 1px solid rgb(116,212,235);
  }
  header .top .div1{
    font-size: 18px;
    color: white;
    letter-spacing:3px
  }
  header .top img{
    width: 25px;
    margin: 0 10px;
  }
  /*身体部分*/
  main{
    width:100%;
  }
  main .div2{
    text-align: center;
    width:100%;
    padding: 10px 0;
    background-color: rgb(41,189,224);
  }
  main .div2 img{
    width: 170px;
  }
  main .div3{
    display: flex;
    justify-content: center;
    font-size: 18px;
    height: 72px;
    padding: 0 10%;
    color: rgb(255,200,101);
    background-color:rgb(41,189,224);
  }
  main .div4{
    width:100%;
    padding:10px;
    background-color:rgb(41,189,224);
  }
  main .div4 .one{
    width: 100%;
    padding-left:20px;
    font-size: 15px;
    color: white;
  }
  main .div4 .two{
    display: flex;
    justify-content:flex-start;
    padding-left: 20px;
    margin-right: 10%;
    font-size: 15px;
    color: white;
  }
  main .div4 .three{
    font-size: 15px;
    color: white;
    padding-left:20px;
  }
  main .div4 .two .aa{
    width: 32%;
  }
  main ul{
    list-style: none;
    background-color: white;
    margin-bottom: 0;
  }
  main ul li{
    position: relative;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgb(221,221,221);
  }
  main ul li p{
    position: absolute;
    left: 30px;
    top: 5px;
    font-size: 15px;
  }
  main ul li .div5{
    position: absolute;
    left: 30px;
    top: 35px;
    font-size: 13px;
    color: rgb(166,166,166);
  }
  main ul li .bai{
    position: absolute;
    left: 30px;
    top: 65px;
    font-size: 13px;
    color: rgb(166,166,166);
  }
  main ul li .div6{
    position: absolute;
    left:230px;
    top: 5px;
    font-size: 12px;
    color: rgb(214,214,214);
  }
  /*底部*/
  footer{
    width: 100%;
    height: 60px;
    background-color: white;
  }
  footer .div7{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(153,223,240,0.6);
  }
  footer .div7 .a1{
    width: 100%;
    margin: 10px 5%;
    font-size: 15px;
    color: white;
    text-align: center;
   line-height: 40px;
    background-color: red;
    border-radius: 5px;
  }
  footer .div7 .a2{
    width: 100%;
    margin: 10px 5%;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 40px;
    background-color: rgb(251,180,53);
    border-radius: 5px;
  }