header {
  display: flex;
}

header .system_name {
  width: 220px;
  height: 45px;
  background-color: #0e0f20;
  color: white;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
}

header .system_name h4 {
  line-height: 45px;
  text-align: center;
  margin-right: 25px;
}

header .system_name .header_popup {
  width: 45px;
  height: 35px;
  background: black;
  color: white;
  position: absolute;
  top: 5px;
  right: 20px;
  border: 1px solid white;
  outline: none;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 6px;
  display: none;
}

header .system_name .header_popup div {
  width: 25px;
  height: 2px;
  background: white;
  margin: 2px 0;
}

header .identity {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header .identity .sign_out {
  width: 40px;
  height: 44px;
  padding: 0 20px;
  margin-right: 15px;
  background-image: url(../../../assets/imge/66666.png);
  background-repeat: no-repeat;
  background-position: 0 10px;
  background-size: 80%;
  border: none;
  outline: none;
  background-color: white;
}

header .identity .line {
  width: 1px;
  height: 11px;
  background-color: gainsboro;
  margin: auto 13px;
}

header .identity .user {
  line-height: 45px;
  font-size: 13px;
  padding: 0 10px;
}

header .identity .user:hover {
  background-color: ghostwhite;
}

main {
  display: flex;
  min-height: calc(100vh - 45px);
  overflow-x: hidden;
}

main .main_left {
  width: 220px;
  background-color: #0e0f20;
  flex-shrink: 0;
}

main .main_left .list_page {
  margin-top: 20px;
}

main .main_left .list_page li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

main .main_left .list_page li .display_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  position: relative;
  height: 40px;
}

main .main_left .list_page li .display_list i {
  margin-left: 20px;
  color: white;
}

main .main_left .list_page li .display_list .cente {
  color: white;
  font-size: 15px;
  margin-top: -3px;
  margin-left: 15px;
}

main .main_left .list_page li .display_list .lcon {
  width: 5px;
  height: 5px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  margin: 3px 40px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 32%;
  right: 0;
}

main .main_left .list_page li .hidden_list_box {
  width: 100%;
  display: none;
}

main .main_left .list_page li .hidden_list_box .hidden_list {
  padding-left: 65px;
  font-size: 13px;
  justify-content: flex-start;
  height: 35px;
}

main .main_left .list_page li .hidden_list_box .active {
  background: #3a3838;
}

main .main_left .list_page li .display_box {
  display: block;
}

main .main_left .list_page li .hidden_list:hover, main .main_left .list_page li .display_list:hover {
  background: #3a3838;
}

main .main_right {
  width: 100%;
  background-color: whitesmoke;
  z-index: 1;
  box-shadow: inset 0px 1px 5px #dfdddd;
}

main .main_right .Welcome {
  margin: 40px 30px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
  }
  header .system_name {
    width: 100%;
  }
  header .system_name .header_popup {
    display: flex;
  }
  main {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  main .main_left {
    width: 100%;
    max-height: 0;
    transition: max-height 2s;
  }
}
