header{
    display:flex;
   
    .system_name{
        width:220px;
        height: 45px;
        background-color: rgb(14, 15, 32);
        color: white;
        box-shadow: inset 0 -1px 0 rgba(255,255,255,.3);
        flex-shrink:0;
        h4{
            line-height: 45px;
            text-align: center;
            margin-right: 25px;
        }
    .header_popup{
        width: 45px;
        height: 35px;
        background: black;
        color: white;
        position: absolute;
        top: 5px;
        right: 20px;
        border: 1px solid white;
        outline: none;
        flex-wrap:wrap;
        justify-content: center;
        border-radius: 6px;
        display:none;
        div{
            width: 25px;
            height: 2px;
            background: white;
            margin: 2px 0;
        }
    }
    }
    .identity{
        width: 100%;
        display:flex;
        justify-content:flex-end;
        // box-shadow: 0px 1px 5px #dfdddd;
        // z-index: 3;
        .sign_out{
            width: 40px;
            height: 44px;
            padding:0 20px;
            margin-right: 15px;
            background-image: url(../../../assets/imge/66666.png);
            background-repeat: no-repeat;
            background-position: 0 10px;
            background-size:80%;
            border:none;
            outline: none;
            background-color: white;
        }
        
        .line{
            width: 1px;
            height: 11px;
            background-color: gainsboro;
            margin: auto 13px ;
        }
        .user{
            line-height: 45px;
            font-size: 13px;
            padding:0 10px;
        }
        .user:hover{
            background-color: ghostwhite;
        }
    }
}
main{
    display: flex;
   min-height: calc(100vh - 45px);
   overflow-x: hidden;
    .main_left{
        width:220px;
        background-color: rgb(14, 15, 32);
        flex-shrink:0;
        .list_page{
            margin-top: 20px;
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                color:white;
                .display_list{
                width:100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                color:white;
                position: relative;
                height: 40px;
                
                i{
                    margin-left: 20px;
                   color:white;
                 
                }
                .cente{
                    color:white;
                    font-size: 15px;
                    margin-top:-3px;
                    margin-left: 15px;;
                }
                 .lcon{
                    width: 5px;
                    height: 5px;
                    border-left: 2px solid white;
                    border-bottom: 2px solid white;
                    margin: 3px 40px 0;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 32%;
                    right: 0;
                 }
                }

                .hidden_list_box{
                   width: 100%;
                   display: none;

                 .hidden_list{
                    padding-left: 65px;
                    font-size: 13px;
                    justify-content: flex-start;
                    height: 35px;
                   
                 }
                 .active{
                    background: rgb(58, 56, 56);
                }
                
                }
               
                .display_box{
                    display:block;
                }
                .hidden_list:hover, .display_list:hover{
                    background: rgb(58, 56, 56);
              }
            }
        }
    }
    .main_right{
        width: 100%;
        background-color:rgb(245, 245, 245);
        z-index: 1;
        box-shadow:inset 0px 1px 5px #dfdddd;
            .Welcome{
             margin:40px 30px;
             font-size:30px;
            }
    }
}
@media screen and (max-width: 768px){
    header{
        flex-wrap:wrap;
        .system_name{
            width:100%;
        .header_popup{
            display: flex;
        }
        }
    }
    main{
        flex-wrap:wrap;
        align-content: flex-start;
   .main_left{
       width:100%;
       max-height:0;
        transition: max-height 2s;
    }
}
}
// .active{
//     background: rgb(58, 56, 56);
// }